<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <!-- add servlet -->
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>app.servlets.AddServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <!-- list servlet -->
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>app.servlets.ListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>